{% extends 'base.html' %}


{% block extra_css %}
    <style>
        #chatRoom{
            min-width: 150px;
            min-height: 150px;
            text-decoration: none;
            font-size: 30px;
        }
    </style>
{% endblock %}


{% block content %}

<div class="container my-4 p-4">
    <h1 class="mb-5">Available ChatRooms</h1>

    <div class="d-flex">
        {% for room in chatrooms %}
            <a href="{% url 'chatApp:chatroom' room.slug  %}" class="text-dark" style="text-decoration: none;">
                <div class="border shadow d-flex justify-content-center align-items-center mr-3" id="chatRoom">
                    {{ room.name}}
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}